<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NoteApp | Data User</title>
    <th:block th:insert="mainLayout.html :: head-section "></th:block>
</head>
<body>
<th:block th:insert="mainLayout.html :: navbar-section "></th:block>

<div class="container">
    <div class="mt-5">
        <h4>Data User</h4>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user, itr : ${users}">
                    <td th:text="${itr.count}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <ol type="I" style="padding: 0px 10px 0px 18px">
                            <li class="ps-2" th:each="role : ${user.roles}">
                                <span th:text="${role.name.toUpperCase()}"></span>
                            </li>
                        </ol>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="me-1">
                                <!-- EDIT -->
                                <a class="btn btn-warning px-3" th:href="@{/user/{id} (id=${user.id})}">Edit</a>
                            </div>
                            <div class="me-1">
                                <!-- DELETE -->
                                <form th:action="@{/user/{id} (id=${user.id})}" th:method="DELETE" onsubmit="return deleteForm(event)">
                                    <button class="btn btn-danger" type="submit">Hapus</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<th:block th:insert="mainLayout.html :: javascript-section "></th:block>
<script>
    console.log("hello world");
    function deleteForm(e) {
        let cek = confirm("Apakah anda ingin menghapus data ini?");
        if (cek == true) {
            return true;
        }
        return false;
    }
</script>
</body>
</html>
