<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NoteApp | Update User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Update user page</h3>
        <form th:action="@{/user/{id} (id=${user.id})}" th:object="${user}" th:method="PUT">
            <div>
                <label th:for="${('username')}">Username</label><br/>
                <input type="text" th:field="*{username}" th:value="${user.username}" placeholder="Input username"/>
            </div>
            <br/>
            <div>
                <label th:for="${('password')}">Password</label><br/>
                <input type="password" th:field="*{password}"/>
            </div>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
