<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NoteApp | Update User</title>
    <th:block th:insert="mainLayout.html :: head-section"></th:block>
</head>
<body>
<th:block th:insert="mainLayout.html :: navbar-section"></th:block>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-12 mt-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Update User Page</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/user/{id} (id=${user.id})}" th:object="${user}" th:method="PUT">
                        <div class="mb-3">
                            <label class="form-label" th:for="${('username')}">Username</label><br/>
                            <input class="form-control" type="text" th:field="*{username}" th:value="${user.username}" placeholder="Input username" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" th:for="${('password')}">Password</label><br/>
                            <input class="form-control" type="password" th:field="*{password}" required />
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="mainLayout.html :: javascript-section"></th:block>
</body>
</html>
