<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create Note | Note App</title>
    <th:block th:insert="mainLayout.html :: head-section"></th:block>
</head>
<body>
<th:block th:insert="mainLayout.html :: navbar-section"></th:block>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-12 mt-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>Create Note</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/note}" th:object="${note}" th:method="POST" onsubmit="return validate()">
                        <div class="mb-3">
                            <label class="form-label">Text</label>
                            <textarea class="form-control" rows="3" th:field="*{text}" required></textarea>
                            <input type="hidden" id="userId" name="userId" th:value="${#session.getAttribute('userId')}">
                            <input type="hidden" th:field="*{createdAt}">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary px-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="mainLayout.html :: javascript-section"></th:block>
<script>
    function validate() {
        const createdAt = document.querySelector("input[name=createdAt]");
        const dateNow = new Date(new Date() - new Date().getTimezoneOffset()*60000).toISOString();
        const date = dateNow.split("T")[0];
        const time = dateNow.split("T")[1].substring(0, 5);
        createdAt.value = `${date} ${time}`;
        console.log(createdAt.value);
        return true;
    }
</script>
</body>
</html>
