<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>My Note | Note App</title>
    <th:block th:insert="mainLayout.html :: head-section"></th:block>
</head>
<body>
<th:block th:insert="mainLayout.html :: navbar-section"></th:block>
<div class="container">
    <h4 class="mt-5">List My Note</h4>
    <div class="mt-3">
        <div class="card mb-3" th:each="note : ${notes}">
            <div class="card-body" th:text="${note.text}"></div>
            <div class="card-footer">
                <div class="d-flex">
                    <div th:text="${note.createdAt}"></div>
                    <div class="ms-auto" th:text="'Comment '+ ${note.comments.size()}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="mainLayout.html :: javascript-section"></th:block>
</body>
</html>
